/*------------------------------------------------------------------------------------------------------------
// Base HMTL style override
//----------------------------------------------------------------------------------------------------------*/

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #181818;
  color: #ddd;
  margin-bottom: 70px;
}

hr {border-color: #282828}

a {color: #ddd}
a:hover {color: #bbb}

/*------------------------------------------------------------------------------------------------------------
// Img containers
//----------------------------------------------------------------------------------------------------------*/

/* Base style for containers */

.img-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  text-align: center !important;
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
}
.img-container img {
  max-height: 35px;
  max-width: 35px;
  vertical-align: middle;
}

/* XL image containers */

.img-container-xl {
  min-width: 100px;
  max-width: 100px;
  min-height: 120px;
  max-height: 120px;
  background-color: rgba(0,0,0,.15);
  border-radius: .25rem !important;
}
.img-container-xl img {
  max-height: 120px;
  max-width: 100px;
}

/* LG image containers */

.img-container-lg {
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}
.img-container-lg img {
  max-height: 60px;
  max-width: 60px;
}

/* MD image containers */

.img-container-md {
  min-width: 47px;
  max-width: 47px;
  min-height: 47px;
  max-height: 47px;
}
.img-container-md img {
  max-height: 47px;
  max-width: 47px;
}

/* SM image containers */

.img-container-sm {
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
}
.img-container-sm img {
  max-height: 35px;
  max-width: 35px;
}

/* XS image containers */

.img-container-xs {
  min-width: 26px;
  max-width: 26px;
  min-height: 26px;
  max-height: 26px;
  display: inline-block;
}
.img-container-xs img {
  max-height: 26px;
  max-width: 26px;
}

/* Influence containers */

.influence {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.influence-shaper-1x1 {background-image: url("https://web.poecdn.com/image/inventory/ShaperBackground.png?w=1&h=1&x=0&y=0")}
.influence-elder-1x1  {background-image: url("https://web.poecdn.com/image/inventory/ElderBackground.png?w=1&h=1")}
.influence-shaper-2x3 {background-image: url("https://web.poecdn.com/image/inventory/ShaperBackground.png?w=2&h=3&x=0&y=0")}
.influence-elder-2x3  {background-image: url("https://web.poecdn.com/image/inventory/ElderBackground.png?w=2&h=3")}

/*------------------------------------------------------------------------------------------------------------
// Card styling
//----------------------------------------------------------------------------------------------------------*/

.card-header, 
.card-footer {background-color: rgba(0,0,0,.2)}
.custom-card {background-color: #333}
.slim-card-edge {padding: .1rem .75rem}
.body-boundaries {max-width: 1200px}

/*------------------------------------------------------------------------------------------------------------
// Form element styling
//----------------------------------------------------------------------------------------------------------*/

input.form-control,select.form-control {
  background-color: rgba(0,0,0,.1) !important;
  border: 1px solid rgba(255,255,255,.15) !important;
  color: #ddd !important;
}

.btn-outline-dark {
  color: #ddd;
  border-color: rgba(255,255,255,.1);
  background-color: rgba(0,0,0,.15);
}

.btn-outline-dark:hover {
  background-color: rgba(0,0,0,.2);
  border-color: rgba(255,255,255,.2);
}

/* Disable focus borders */ 
.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #333;
}

.form-group input {background-color: #222 !important}
option {background-color: #333}

/*------------------------------------------------------------------------------------------------------------
// Navs
//----------------------------------------------------------------------------------------------------------*/

.navbar {background-color: #222}

footer {
  padding: 15px;
  background-color: #222;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.card-header-tabs .nav-item .nav-link {
  background-color: rgba(0,0,0,.08);
  color: #aaa;
}

.card-header-tabs .nav-item .nav-link:focus {
  border-color: transparent;
}

.card-header-tabs .nav-item .nav-link:hover {
  background-color: rgba(0,0,0,.3);
  border-color: transparent;
}

.card-header-tabs .nav-item .nav-link.active {
  background-color: #333;
  border-color: transparent;
  color: #ddd;
}

.card-header-tabs .nav-item button.nav-link:focus {
  outline: none !important;
}

/*------------------------------------------------------------------------------------------------------------
// Sidebar
//----------------------------------------------------------------------------------------------------------*/

.custom-menu-item.active {background-color: #3f3f3f} 
.custom-menu-item:hover {background-color: #444}
.custom-sidebar-column a:hover {text-decoration: none !important}

@media (max-width: 992px) {
  .custom-menu-name {
    display: none;
  }
}

/*------------------------------------------------------------------------------------------------------------
// Table formatting
//----------------------------------------------------------------------------------------------------------*/

.api-data-table {
  background-color: transparent;
  color: #aaa;
}

.api-data-table a {
  color: #aaa;
}

.api-data-table thead {
  color: #ddd;
}

.api-data-table.card {
  border: 1px solid rgba(255,255,255,.05);
  background-color: rgba(0,0,0,.1);
}

.api-data-table table {
  margin-bottom: 0;
}

.api-data-table .table td {
  border-top: 0;
}

.api-data-table .table thead th {
  border-bottom: 1px solid rgba(255,255,255,.05);
  border-top: transparent;
}

/*------------------------------------------------------------------------------------------------------------
// Progress bars
//----------------------------------------------------------------------------------------------------------*/

.progressbar-box {
  height: 20px;
  background-color: #444;
}
.progressbar-bar {
  width: 0px;
  background-color: #888;
}

/*------------------------------------------------------------------------------------------------------------
// Misc
//----------------------------------------------------------------------------------------------------------*/

/* Styling for item types */
.subtext-0 {color: #aaa}
.subtext-1 {color: #888}
.subtext-2 {color: #666}

/* Styling for foil uniques */
.item-foil {color: #4c9b4c}

/*------------------------------------------------------------------------------------------------------------
// Colors
//----------------------------------------------------------------------------------------------------------*/

/*
// Badges
*/

.custom-badge-red {
  color: #222;
  background-color: rgb(202, 90, 90);
}
.custom-badge-red-ex {
  color: #222;
  background-color: rgb(202, 55, 55);
}
.custom-badge-red-lo {
  color: #222;
  background-color: rgb(192, 146, 146);
}
.custom-badge-orange {
  color: #222;
  background-color:rgb(202, 163, 90);
}
.custom-badge-orange-lo {
  color: #222;
  background-color:rgb(192, 185, 146);
}
.custom-badge-green {
  color: #222;
  background-color: rgb(112, 202, 90);
}
.custom-badge-green-ex {
  color: #222;
  background-color: rgb(85, 201, 56);
}
.custom-badge-green-lo {
  color: #222;
  background-color: rgb(155, 192, 146);
}
.custom-badge-gray {
  color: #111;
  background-color: rgb(100, 100, 100);
}
.custom-badge-gray-lo {
  color: #222;
  background-color: rgb(161, 161, 161);
}

/*
// Text
*/

.custom-text-red        {color: rgb(202, 90, 90)}
.custom-text-red-lo     {color: rgb(192, 146, 146)}
.custom-text-orange     {color: rgb(202, 163, 90)}
.custom-text-orange-lo  {color: rgb(192, 185, 146)}
.custom-text-green      {color: rgb(112, 202, 90)}
.custom-text-green-lo   {color: rgb(155, 192, 146)}
.custom-text-gray       {color: rgb(100, 100, 100)}
.custom-text-gray-lo    {color: rgb(161, 161, 161)}
.paragraph-text         {color: #bbb}

.color-patron {color: rgb(249, 108, 84) !important}

/*------------------------------------------------------------------------------------------------------------
// Other
//----------------------------------------------------------------------------------------------------------*/

.custom-badge-block {
  display: block;
  max-width: 54px;
}

.seamless-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/*------------------------------------------------------------------------------------------------------------
// Manual Bootstrap
//----------------------------------------------------------------------------------------------------------*/

.mv-xl {max-width: 1200px}
.mv-lg {max-width: 992px}
.mv-md {max-width: 768px}
.mv-sm {max-width: 576px}

.w-auto {width: auto}

.nowrap {white-space: nowrap}

/*------------------------------------------------------------------------------------------------------------
// Buffering
//----------------------------------------------------------------------------------------------------------*/

.buffering {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.buffering:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #ccc transparent #ccc transparent;
  animation: buffering 1.2s linear infinite;
}

@keyframes buffering {
  0%   {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

/*------------------------------------------------------------------------------------------------------------
// Size restrictions
//----------------------------------------------------------------------------------------------------------*/

.mh-item-largeCol {max-height: 120px}

.mw-item-dTable {max-width: 260px}
