/*------------------------------------------------------------------------------------------------------------
// Price table
//----------------------------------------------------------------------------------------------------------*/

/* Styling for central table */
.price-table, 
.price-table > thead > tr > th,
.price-table > tbody > tr > td {
  border: 0;
  vertical-align: middle;
  padding: 0 5px 0 2px;
  border-collapse: separate;
  border-spacing: 0;
}

.price-table > tbody > tr:hover {
  background-color: #222;
}

.price-table > thead > tr > th.fixedSizeCol {
  min-width: 60px;
}

/*------------------------------------------------------------------------------------------------------------
// Progressbar
//----------------------------------------------------------------------------------------------------------*/

.progressbar-live {
  height: 5px;
  background-color: #222;
}

#progressbar-live {
  display: none;
  width: 100%;
  transform-origin: left;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes progressbar-live {
  from {transform: scaleX(0)}
  to {transform: scaleX(1)}
}

/*------------------------------------------------------------------------------------------------------------
// Expanded row
//----------------------------------------------------------------------------------------------------------*/

.price-table tr.parent-row {
  background-color: #181818 !important;
  border: 1px solid #444;
  color: #ddd;
}

.price-table tr.selected-row,
.price-table tr.selected-row:hover,
.price-table tr.filler-row,
.price-table tr.filler-row:hover  {
  background-color: #282828 !important;
  border: 1px solid #444;
}

/* Small details table */
.details-table, 
.details-table > tbody > tr > td {
  border: 0;
  vertical-align: middle;
  padding: 2px 2px 2px 4px;
  background-color: transparent !important;
  margin-bottom: 0;
}

.price-table hr {
  border-color: #444;
}

/*------------------------------------------------------------------------------------------------------------
// Graphs and sparklines
//----------------------------------------------------------------------------------------------------------*/

.sparkline-green {stroke: #4c9b4c}
.sparkline-red {stroke: #d12b33}
.sparkline-orange {stroke: #e36023}
.sparkline {fill: none}

.pricebox {
  display: flex;
  align-items: center;
}

.pricebox .sparkline {padding: 0 5px 0 0}
.chart-large {height: 250px}
.chart-small {height: 110px}

canvas {
  width: 100% !important;
  height: auto !important;
}

/* graph grid */
.ct-grids line {
  stroke: rgba(255,255,255,.2);
}

/* graph labels*/
.ct-labels span {
  color: rgba(255,255,255,.5);
}

/* graph line */ 
.ct-series.ct-series-a .ct-line {
  stroke: rgb(112, 202, 90);
  stroke-width: .15em;
}

/* hide points by default */
.ct-series.ct-series-a .ct-point {
  stroke-width: 0;
  stroke: rgb(112, 202, 90);
}

.chartist-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1100;
  display: inline-block;
  padding: .2em .8em;
  visibility: hidden;
  transform: translateY(3em);
  opacity: 0;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.9);
}

.chartist-tooltip:not([hidden]) {
  margin: 0;
  visibility: visible;;
  transform: none;
  opacity: 1;
}

/* Tooltip arrow */
.chartist-tooltip::before {
  content: '\25BC';
  position: absolute;
  left: calc(50% - .5em);
  top: 100%;
  z-index: -1;
  font-size: 1.3em;
  line-height: .5em;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  transform: scaleY(0.7);
  text-shadow: 0 0.25em 0.35em rgba(0, 0, 0, 0.1);
}

.chartist-tooltip--left::before {
  left: 0.75em;
}

.chartist-tooltip--right::before {
  left: auto;
  right: 0.75em;
}

/* Adds a small point transition (line charts) when the point is active */
.ct-point {
  transition: all 0.2s ease-in-out;
}

/* Increased specificity intended to overwrite the default chartist style */
.ct-chart-line.ct-chart-line .ct-point--hover {
  stroke-width: .5em;
}

/*------------------------------------------------------------------------------------------------------------
// Misc
//----------------------------------------------------------------------------------------------------------*/

/* Hide some search controls */
#button-showAll {display: none}
