.mega-img-container {
  background-color: rgba(0,0,0,.15);
}

.mega-img-container img {
  max-height: 120px;
  width: auto;
}

.mega-sparkline {
  background-color: rgba(207, 3, 3, 0.425);
  width: 100px;
  height: 40px;
}

.header-5 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}