.main-content {
  margin-top: 30px;
}

.form-controlform-control {
  background-color: #ddd;
  color: #222;
}

.custom-card {
  background-color: #ddd;
  color: #222;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set white text and some padding */
footer {
  color: #ddd;
  padding: 15px;
}

/* Overwrite sidebar button active style background */
.list-group-item.sidebar-link.active {background-color: #777}


.sidebar-left {
  max-width: 300px;
}

#sidebar-link-container {
  margin: 20px 0 20px 0;
}

.sidebar-link {background-color: #ddd}

#sidebar-link-container a {
  color: #222;
  border: transparent;
}

.list-group-item.sidebar-link.active {
  background-color: #eee;
}

#sidebar-link-container a:hover {
  background-color: #eee;
}

.sidebar-img-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sidebar-img-container img {
  max-height: 30px;
}

body {
  background-color: #222;
  color: #ddd;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 992px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .sidebar-left {
    max-width: unset;
  }
}
