/*------------------------------------------------------------------------------------------------------------
// Main block formatting
//----------------------------------------------------------------------------------------------------------*/

body {
  background-color: #181818;
  color: #ddd;
}

.custom-card {
  background-color: #333;
}

hr {
  border-color: #282828;
}

/*------------------------------------------------------------------------------------------------------------
// Form elements
//----------------------------------------------------------------------------------------------------------*/

input.form-control,select.form-control {
  background-color: transparent !important;
  border: 1px solid #333 !important;
  color: #ddd !important;
}

option {
  background-color: #333;
}

.btn-outline-dark {
  color: #ddd;
  border-color: #555;
}

.btn-outline-dark:hover {
  background-color: #333;
  border-color: #555;
}

/* Disable focus borders */ 
.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #333;
}

/*------------------------------------------------------------------------------------------------------------
// Navbars
//----------------------------------------------------------------------------------------------------------*/

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #222;
}

/* Set white text and some padding */
footer {
  padding: 15px;
  background-color: #222;
}

/*------------------------------------------------------------------------------------------------------------
// Sidebar
//----------------------------------------------------------------------------------------------------------*/

.custom-menu-item {
  width: 100%;
  background-color:#333;
  color: #ccc;
}
.custom-menu-item.active, 
.custom-menu-item:hover {
  background-color: #444;
}

.custom-menu-img-container {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.custom-menu-img-container img {
  max-height: 30px;
}

a:hover {text-decoration: none !important}

@media (min-width: 1200px) {
  .custom-sidebar-column {
    max-width: 300px;
  }
}

/*------------------------------------------------------------------------------------------------------------
// Table formatting
//----------------------------------------------------------------------------------------------------------*/

.api-data-table {
  background-color: #444;
  color: #ddd;
}

.api-data-table .table td {
  border-top: 1px solid #383838;
}

.api-data-table .table thead th {
  border-bottom: 1px solid #383838;
  border-top: transparent;
}

/*------------------------------------------------------------------------------------------------------------
// Progress bars
//----------------------------------------------------------------------------------------------------------*/

#leagueProgressBar {
  width: 0%;
}

.progress {
  background-color: #444;
}

.progress-bar {
  background-color: #888;
}

/*------------------------------------------------------------------------------------------------------------
// Misc
//----------------------------------------------------------------------------------------------------------*/

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 992px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .sidebar-left {
    max-width: unset;
  }
}

/* Styling for item types */
.subtext-1{color: #888}

/*------------------------------------------------------------------------------------------------------------
// Colors
//----------------------------------------------------------------------------------------------------------*/

/*
// Badges
*/

.custom-badge-red {
  color: #222;
  background-color: rgb(202, 90, 90);
}
.custom-badge-orange {
  color: #222;
  background-color:rgb(202, 163, 90);
}
.custom-badge-orange-lo {
  color: #222;
  background-color:rgb(192, 185, 146);
}
.custom-badge-green {
  color: #222;
  background-color: rgb(112, 202, 90);
}
.custom-badge-green-lo {
  color: #222;
  background-color: rgb(155, 192, 146);
}
.custom-badge-gray {
  color: #222;
  background-color: rgba(161, 161, 161, 0.603);
}

/*
// Text
*/

.custom-text-red {
  color: rgb(202, 90, 90);
}
.custom-text-orange {
  color:rgb(202, 163, 90);
}
.custom-text-orange-lo {
  color:rgb(192, 185, 146);
}
.custom-text-green {
  color: rgb(112, 202, 90);
}
.custom-text-green-lo {
  color: rgb(155, 192, 146);
}
.custom-text-gray {
  color: rgb(161, 161, 161);
}
.custom-text-dark {
  color: rgb(88, 88, 88);
}

/*
// Other
*/

.custom-badge-block {
  display: block;
  max-width: 64px;
}