.table-img-container {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.table-img-container img {
  max-height: 30px;
  max-width: 30px;
  vertical-align: middle;
}

/* Custom badge colors */
.custom-badge-red {
  color: #222;
  background-color: rgb(202, 90, 90);
}
.custom-badge-orange {
  color: #222;
  background-color:rgb(202, 163, 90);
}
.custom-badge-green {
  color: #222;
  background-color: rgb(112, 202, 90);
}
.custom-badge-gray {
  color: #222;
  background-color: rgb(168, 168, 168);
}

/* Hide some search controls */
.link-fields, 
.gem-fields,
.loadall {
  display: none;
}

/* Styling for central table */
.price-table, 
.price-table > thead > tr > th,
.price-table > tbody > tr > td {
  border: 1px solid #ccc;
  vertical-align: middle;
  padding: 2px 2px 2px 4px;
}

.price-table > tbody > tr:hover {
  background-color: #eee;
}

/* Styling for expanded table rows */
.price-table tr.parent-row {
  background-color: #212529 !important;
  color: #ddd;
}
.price-table > tbody > tr.parent-row > td {
  border: 1px solid #444;
}
.price-table tr.selected-row {
  background-color: #eee;
}

/* Sparkline styling */
.sparkline {
  stroke: #4c9b4c;
  fill: none;
}

.sparklinebox {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sparklinebox .sparkline {
  padding: 0,5px,0,0;
}

.chart-large {
  height: 250px;
}

.chart-small {
  height: 110px;
}

canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}
