/*------------------------------------------------------------------------------------------------------------
// Price table formatting
//----------------------------------------------------------------------------------------------------------*/

.table-img-container {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.table-img-container img {
  max-height: 30px;
  max-width: 30px;
  vertical-align: middle;
}

/* Styling for central table */
.price-table, 
.price-table > thead > tr > th,
.price-table > tbody > tr > td {
  border: 0px solid #222;
  vertical-align: middle;
  padding: 1px 0.5rem 1px 0.5rem;
}

.price-table > tbody > tr:hover {
  background-color: #222;
}

.wide-table-col {
  width: 100%;
}

/*------------------------------------------------------------------------------------------------------------
// Second navbar
//----------------------------------------------------------------------------------------------------------*/

.second-navbar {display: inline-block}

.second-navbar .live-updates {float: right}
#live-updates {margin-bottom: 1px}

.second-navbar .search-league {float: right}
#search-league {margin-bottom: 1px}

/*
// Progressbar
*/

.progressbar-live {
  margin-top: -0.35rem !important;
  height: 5px;
  border-radius: 0px;
  background-color: #222;
}

#progressbar-live {
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes progressbar-live {
  from {width: 0%;}
  to {width: 100%;}
}

/*------------------------------------------------------------------------------------------------------------
// Expanded row styling
//----------------------------------------------------------------------------------------------------------*/

.price-table tr.parent-row {
  background-color: #181818 !important;
  border: 1px solid #444;
  color: #ddd;
}

.price-table tr.selected-row,
.price-table tr.selected-row:hover {
  background-color: #282828 !important;
  border: 1px solid #444;
}

/* Styling for small details table */
.details-table, 
.details-table > tbody > tr > td {
  border: 0;
  vertical-align: middle;
  padding: 2px 2px 2px 4px;
  background-color: #282828;

}

.price-table hr {
  border-color: #444;
}

/*------------------------------------------------------------------------------------------------------------
// Graphs and sparklines
//----------------------------------------------------------------------------------------------------------*/

.sparkline-green {stroke: #4c9b4c}
.sparkline-red {stroke: #dc2b33}
.sparkline-orange {stroke: #e36023}
.sparkline {fill: none}

.pricebox {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.pricebox .sparkline {padding: 0,5px,0,0}

.chart-large {height: 250px}
.chart-small {height: 110px}

canvas {
  width: 100% !important;
  height: auto !important;
}

/*------------------------------------------------------------------------------------------------------------
// Misc
//----------------------------------------------------------------------------------------------------------*/

/* Hide some search controls */
.loadall {display: none}

/* Styling for second navbar */
.second-navbar {background-color: #2c2c2c}
.second-navbar select.btn {
  -webkit-appearance: button;
     -moz-appearance: button;
}

/* Styling for foil uniques */
.item-foil {color: #4c9b4c}
