/* Set loadmore button to be hidden at first */
#button-loadmore {
  display: none;
}

.table-img-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.table-img-container img {
  max-height: 30px;
  max-width: 30px;
}

/* Styling for tables */
.custom-table {
  background-color: #ddd;
  color: #222;
}
.custom-table table > thead > tr > th {
  border-top-color: transparent;
  border-bottom-color: #bbb;
}
.custom-table table > tbody > tr > td {border-color: #bbb}
.custom-table table.table-hover > tbody > tr:hover {background-color: #eee}

.custom-badge-red {
  color: #222;
  background-color: rgb(202, 90, 90);
}
.custom-badge-orange {
  color: #222;
  background-color:rgb(202, 163, 90);
}
.custom-badge-green {
  color: #222;
  background-color: rgb(112, 202, 90);
}
.custom-badge-gray {
  color: #222;
  background-color: rgb(168, 168, 168);
}

.link-fields, .gem-fields {
  display: none;
}

tr.parent-row {
  /* Some funky things start happening without !important */
  background-color: #333 !important;
  color: #eee;
}

tr.selected-row {
  background-color: #eee;
}

.jqstooltip{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font: 12px;
}